.App {
  text-align: center;
  border: solid 5px;
  padding: 10px;
  background-color: rosybrown;
}

.Content {
  flex-basis: 500px;
  margin: auto;
  display: flex;
  flex-direction: row;
  height: 759px;
  justify-content: space-between;
}

.StaticSide {
  text-align: center;
  border: solid 5px blue;
  /* justify-content: left; */
  flex-direction: row;
  padding: 10px;
  margin-top: auto; 
  margin-bottom: auto; 
}
/* 
.StaticSide h1 {
  margin-top: auto; 
  margin-bottom: 565px; 

} */

.ScrollSide {
  border: solid 5px green;
  padding: 10px;
  flex-basis: 500px;
  overflow: scroll;

}

.MyLink {
  border: solid 5px red;
  padding: 10px;
  /* display: flex; */
  flex-direction: column;
}

/* .link {

} */

.Photo {
  border: solid 5px pink;
  padding: 10px;

}
